# Dossier de compilation Maven (généré automatiquement)
target/

# Fichiers IntelliJ IDEA (configuration locale de ton PC)
.idea/
*.iml
*.iws
*.ipr

# Fichiers système Windows
Thumbs.db
desktop.ini

# Fichiers système Mac
.DS_Store

# Logs
*.log

# Variables d'environnement sensibles
*.env