<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- DRIVER MySQL -->
        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <!-- BANCO DE DADOS -->
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/daara?serverTimezone=Africa/Dakar&useSSL=false
        </property>

        <!-- USER -->
        <property name="hibernate.connection.username">
            root
        </property>

        <!-- PASSWORD -->
        <property name="hibernate.connection.password">
        </property>

        <!-- DIALECT -->
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <!-- CRIA/ATUALIZA TABELAS -->
        <property name="hibernate.hbm2ddl.auto">
            update
        </property>

        <!-- MOSTRAR SQL -->
        <property name="hibernate.show_sql">
            true
        </property>

        <property name="hibernate.format_sql">
            true
        </property>

        <!-- MAPEAMENTO DAS ENTIDADES -->
        <mapping class="sn.l2gl.ada.daara.model.models.Maitre"/>
        <mapping class="sn.l2gl.ada.daara.model.models.Classe"/>
        <mapping class="sn.l2gl.ada.daara.model.models.Talibe"/>
        <mapping class="sn.l2gl.ada.daara.model.models.Progression"/>

    </session-factory>
</hibernate-configuration>